<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bouncetheatre.urbanartdayout" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>UrbanArtDayOut</name>
    <description>
        Application relating to the Bounce Theatre Urban Art Project
    </description>
    <author email="pgtaggart@gmail.com">
        Bounce Theatre App Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="Orientation" value="portrait" />
    <preference name="BackupWebStorage" value="local"/>

    <access origin="maps:*" launch-external="yes" />

    <feature name="InAppBrowser">
      <param name="ios-package" value="CDVInAppBrowser" />
    </feature>

    <platform name="ios">

        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="splash/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="splash/ios/icon-small@2x.png" width="58" height="58" />

        <icon src="splash/ios/icon-60.png" width="60" height="60" />
        <icon src="splash/ios/icon-40@2x.png" width="80" height="80" />
        <icon src="splash/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="splash/ios/icon-76.png" width="76" height="76" />
        <icon src="splash/ios/icon-76@2x.png" width="152" height="152" />

        <!-- images are determined by width and height. The following are supported -->
        <splash src="splash/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="splash/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="splash/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="splash/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="splash/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="splash/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="splash/ios/Default-736h.png" width="1242" height="2208"/>
    </platform>
</widget>
