<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bouncetheatre.urbanartdayout" version="0.0.1" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns="http://www.w3.org/ns/widgets">
  <name>UrbanArtDayOut</name>
  <description>
    Application relating to the Bounce Theatre Urban Art Project
  </description>
  <author email="pgtaggart@gmail.com">
    Bounce Theatre App Team
  </author>
  <content src="index.html"/>
  <access origin="*"/>

  <preference name="Orientation" value="portrait"/>
  <preference name="BackupWebStorage" value="local"/>

  <access launch-external="yes" origin="maps:*"/>

  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVInAppBrowser"/>
  </feature>

  <platform name="ios">

    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon height="180" src="splash/ios/icon-60@3x.png" width="180"/>
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon height="58" src="splash/ios/icon-small@2x.png" width="58"/>

    <icon height="60" src="splash/ios/icon-60.png" width="60"/>
    <icon height="80" src="splash/ios/icon-40@2x.png" width="80"/>
    <icon height="120" src="splash/ios/icon-60@2x.png" width="120"/>
    <!-- iPad -->
    <icon height="76" src="splash/ios/icon-76.png" width="76"/>
    <icon height="152" src="splash/ios/icon-76@2x.png" width="152"/>

    <!-- images are determined by width and height. The following are supported -->
    <splash height="480" src="splash/ios/Default~iphone.png" width="320"/>
    <splash height="960" src="splash/ios/Default@2x~iphone.png" width="640"/>
    <splash height="1024" src="splash/ios/Default-Portrait~ipad.png" width="768"/>
    <splash height="2048" src="splash/ios/Default-Portrait@2x~ipad.png" width="1536"/>
    <splash height="1136" src="splash/ios/Default-568h@2x~iphone.png" width="640"/>
    <splash height="1334" src="splash/ios/Default-667h.png" width="750"/>
    <splash height="2208" src="splash/ios/Default-736h.png" width="1242"/>
  </platform>
</widget>
